* {
    font-style: luminary;
    scrollbar-width: thin;
    scrollbar-color: rgb(56, 56, 56) #000000;
}


body {
    color: white;
    margin: auto;
    background-image: url(bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

header {
    margin-top: 10%;
}

h1 {
    text-align: center;
    color: rgb(255, 255, 255);
}

h2 {
    text-align: center;
}

.navi1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
.navi2 {
    float: right;
    font-size: x-large;
}
  
.navi2 a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.navi2 a:hover {
    background-color: rgba(56, 56, 56, 0.506);
}

.socials {
    display: inline;
    padding: 15px;
    
}

.info {
    text-align: center;
    color: rgb(103, 103, 103);
}

div.lista {
    text-align: center;
}

.zainteresowania {
    list-style-position: inside;
}

footer {
    background-color: #000000;
    color: rgb(103, 103, 103);
}

/* scrollbar */
::-webkit-scrollbar {
        width: 16px;
        background-color: black;
}

::-webkit-scrollbar-thumb {
        background-color: rgb(56, 56, 56);
        border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
        background-color: rgb(31, 31, 31);
}

.now-playing-container {
    width: 100%; /* Take the full width of the container */
    text-align: center; /* Center the text */
    margin: 0 auto; /* Center the container */
  }
  
#albumContainer, #trackInfo, #scrobblesInfo {
    display: inline-block; /* Make these elements inline for centering */
    vertical-align: top; /* Align elements to the top if they have different heights */
}

/*
iframe {
    border-radius:12px
    width="500" height="152" 
    frameBorder="0"
    allowfullscreen="" 
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" 
    loading="lazy"
}
*/
